/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github.css';


body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
}


div > code {
  margin: 20px 0;
}
